body {
  width: 800px;
}

.menu {
  font-size: 78%;
  list-style-type: none;
  text-align: right;
  margin-right: 1em;
}

.menu li {
  display: inline;
  padding-left: 2px;
}

header {
  text-align: center;
}

header h1 {
  margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #282;
  font-variant: small-caps;
}

header h2 {
  margin-left: 20px;
  margin-top: 1px;
  padding-top: 0;
  font-size: 100%;
}

#feed_items {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

#feed_items li button {
  position:relative;
  width: 5em;
  left: 685px;
  top: -3px;
  margin: 0;
}

#feed_items li .author {
  position: relative;
  margin: 0;
  padding: 0;
  top: -25px;
  left: 20px;
  font-weight: bold;
}

#feed_items li .message {
  position:relative;
  margin: 5px 5px 0 0;
  margin-right: 5px;
  padding: 0;
  left: 0px;
  top: -20px;
}

#feed_items li {
  background-color: #f8fff8;
  padding: 10px 0px 0px 10px;
  margin: 0 0 10px 0;
}